<h1>New Blogger:</h1>

<%= form_for(@blogger) do |f| %>

<% if @blogger.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@blogger.errors.count, "error") %>
      prohibited this blogger from being saved:
    </h2>
 
    <ul>
    <% @blogger.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :name  %>
<%= f.text_field :name %>

<br><br>

<%= f.label :age %>
<%= f.number_field :age %>

<br><br>

<%= f.label :bio %>
<%= f.text_area :bio %>

<%= f.submit %>

<% end %>